@page "/"
@rendermode InteractiveServer
@inject BggApiService Api

<PageTitle>Home</PageTitle>

<h1>Board Game Night Planner (POC)</h1>

<div>
@*    <input placeholder="BGG Username"
           @bind="username"
           @bind:event="oninput" />*@
    <textarea @bind="UsernamesRaw"
            rows="4"
            placeholder="Enter one username per line">
    </textarea>

    <button @onclick="LoadCollection" disabled="@isLoading">
        @(isLoading ? "Loading..." : "Load Collection")
    </button>
</div>

@if (!string.IsNullOrEmpty(error))
{
    <p style="color:red">@error</p>
}

@if (collection.Any())
{
    <h3>@username's Collection</h3>

    <ul>
        @foreach (Game game in collection)
        {
            <li>
                <strong>@game.Name</strong>
                — Players: @game.MinPlayers–@game.MaxPlayers
                — Time: @game.PlayingTime min
                — @string.Join(", ", game.Owners)
            </li>
            <img src="@game.ImageLink" 
                style="max-height:300px; width:auto;"
                class="rounded shadow" />
        }
    </ul>
}

@code {
    private string username = "";
    private bool isLoading;
    private string error = "";
    private string UsernamesRaw = "";

    private List<Game> collection = new();

    private async Task LoadCollection()
    {
        error = "";
        collection.Clear();

        if (string.IsNullOrWhiteSpace(UsernamesRaw))
        {
            error = "Please enter a username.";
            return;
        }

        isLoading = true;

        try
        {
            string[]? usernames = UsernamesRaw
            .Split('\n', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries);

            collection = await Api.GetMergedCollectionsAsync(usernames);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

        isLoading = false;
    }
}
